@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.t {
    font-size: 3em !important;
    vertical-align: middle !important;
    padding: 0.1em !important;
}

.c {
    background-color: #eee;
    border-radius: 0.4em;
}